<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petpal.petpaltravel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PersonViewAndConfirmOneShelterInterested"></activity>
        <activity android:name=".activities.ShelterViewAndConfirmOnePersonInterested" />
        <activity android:name=".activities.PersonCheckSheltersInterested" />
        <activity android:name=".activities.ShelterCheckPersonsInterested" />
        <activity android:name=".activities.PersonManageOfferActivity" />
        <activity android:name=".activities.PersonApplyForDemand" />
        <activity android:name=".activities.ShelterApplyForOffer" />
        <activity android:name=".activities.PersonPostOfferActivity" />
        <activity android:name=".activities.ShelterPostDemandActivity" />
        <activity android:name=".activities.UserViewAccountActivity" />
        <activity android:name=".activities.ShelterManageOfferActivity" />
        <activity android:name=".activities.ShelterManageDemandActivity" />
        <activity android:name=".activities.PersonManageDemandActivity" />
        <activity android:name=".activities.UserSearchOffersActivity" />
        <activity android:name=".activities.UserSearchDemandsActivity" />
        <activity android:name=".activities.UserRegisterActivity" />
        <activity android:name=".activities.UserLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>